.boxFlex {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.boxFlex img {
  width: 50%;
  height: 100%;
}

.boxFlex form img {
  width: 50%;
  height: 40vh;
}

.boxFlex form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px 0 50px 0;
}

.boxInput label {
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 5px;
}

.boxFlex form input[type="text"],
.boxFlex form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.boxFlex form input[type='submit'] {
  width: 25%;
  background-color: rgb(2, 99, 176);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 14pt;
  cursor: pointer;
}

.link {
  color: var(--color-primary);
  text-decoration: underline;
  margin-top: 30px;
  font-weight: bold;
  font-size: 10pt;
}

.footerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 8pt;
  color: gray;
}